version: "3.9"

services:
  api-gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-v1
      - user-v2
      - order-ms

  user-v1:
    build: ./user-v1
    environment:
      - MONGO_URI=mongodb://mongo-user:27017/userdb
      - RABBIT_URL=amqp://rabbitmq:5672
    depends_on:
      - mongo-user
      - rabbitmq

  user-v2:
    build: ./user-v2
    environment:
      - MONGO_URI=mongodb://mongo-user:27017/userdb
      - RABBIT_URL=amqp://rabbitmq:5672
    depends_on:
      - mongo-user
      - rabbitmq

  order-ms:
    build: ./order-ms
    environment:
      - MONGO_URI=mongodb://mongo-order:27017/orderdb
      - RABBIT_URL=amqp://rabbitmq:5672
    depends_on:
      - mongo-order
      - rabbitmq

  mongo-user:
    image: mongo:7
    container_name: mongo-user
    ports:
      - "27018:27017"
    volumes:
      - mongo-user-data:/data/db

  mongo-order:
    image: mongo:7
    container_name: mongo-order
    ports:
      - "27019:27017"
    volumes:
      - mongo-order-data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mongo-user-data:
  mongo-order-data:
